.title {
    font-weight: bold;
    font-size: 45px;
    color: var(--main-font-color);
}

.add-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.add-button {
    background-color: var(--button-color);
    border: none;
    border-radius: var(--border-radius);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 28px;
    cursor: pointer;
    padding: 0 20px;
    margin: 0 5px 0 0;
}

.table-button {
    width: 75px;
    background-color: var(--button-color);
    border: none;
    border-radius: var(--border-radius);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 28px;
    cursor: pointer;
}

.add-button:hover,
.table-button:hover {
    background-color: var(--button-hover-color);
}

/* Stellingen table */

.stellingen-table {
    width: 100%;
}

.stellingen-table header {
    height: 60px;
    width: 100%;
    background: lightgray;
    color: var(--main-font-color);
    display: flex;
    justify-content: flex-start;
    border-radius: var(--border-radius);
    margin: 10px 0;
    align-items: center;
    padding: 0 20px;
}

.stellingen-table header {
    /*position: sticky;*/
    /*top: 0;*/
}

.stellingen-table header h2 {
    font-size: 18px;
}

.stellingen-table header h2:nth-child(1) {
    width: 60px;
    text-align: center;
}

.stellingen-table header h2:nth-child(2) {
    margin-left: 20px;
}

.stellingen-table .table-content {
    border-radius: var(--border-radius);
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.stellingen-table .table-content .table-entry {
    display: grid;
    grid-template-columns: 70px auto auto;
    border-radius: var(--border-radius);
    margin: 1px 5px;
    min-height: 60px;
    align-items: center;
    padding: 0 20px;
    transition: 50ms ease-in-out;
}

.stellingen-table .table-content .table-entry:nth-child(odd) {
    background-color: var(--main-background-color);
}

.stellingen-table .table-content .table-entry:nth-child(even) {
    background-color: white;
}

.stellingen-table .table-content .table-entry:hover {
    background-color: var(--main-table-entry-hover);
}

.stellingen-table .table-content .table-entry div {
    font-size: 18px;
    user-select: none;
}

.stellingen-table .table-content .table-entry div:nth-child(1) {
    padding-right: 20px;
    text-align: center;
}

.stellingen-table .table-content .table-entry div:nth-child(3) {
    justify-self: flex-end;
    white-space: nowrap;
}

.stellingen-table .table-content .table-entry div:nth-child(3) .table-button {
    margin-left: 5px;
}

/* Partijen table */

.partijen-table {
    width: 100%;
}

.partijen-table header {
    display: grid;
    grid-template-columns: 70px auto auto 165px;
    height: 60px;
    width: 100%;
    background: lightgray;
    color: var(--main-font-color);
    /*display: flex;*/
    /*justify-content: flex-start;*/
    border-radius: var(--border-radius);
    margin: 10px 0;
    align-items: center;
    padding: 0 20px;
}

.partijen-table header {
    /*position: sticky;*/
    /*top: 0;*/
    user-select: none;
}

.partijen-table header h2 {
    font-size: 18px;
}

.partijen-table header h2:nth-child(1) {
    width: 60px;
    text-align: center;
}

.partijen-table header h2:nth-child(2) {
    margin-left: 20px;
}

.partijen-table header h2:nth-child(3) {
    justify-self: flex-end;
    padding-right: 40px;
}

.partijen-table .table-content {
    border-radius: var(--border-radius);
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.partijen-table .table-content .table-entry {
    display: grid;
    grid-template-columns: 70px auto auto 160px;
    border-radius: var(--border-radius);
    margin: 1px 5px;
    min-height: 60px;
    align-items: center;
    padding: 0 20px;
    transition: 50ms ease-in-out;
}

.partijen-table .table-content .table-entry:nth-child(odd) {
    background-color: var(--main-background-color);
}

.partijen-table .table-content .table-entry:nth-child(even) {
    background-color: white;
}

.partijen-table .table-content .table-entry:hover {
    background-color: var(--main-table-entry-hover);
}

.partijen-table .table-content .table-entry div {
    font-size: 18px;
    user-select: none;
}

.partijen-table .table-content .table-entry div:nth-child(1) {
    padding-right: 20px;
    text-align: center;
}

.partijen-table .table-content .table-entry div:nth-child(2) {
    padding-left: 10px;
}

.partijen-table .table-content .table-entry div:nth-child(3) {
    justify-self: flex-end;
    padding-right: 40px;
}

.partijen-table .table-content .table-entry div:nth-child(4) {
    justify-self: flex-end;
    white-space: nowrap;
}

.partijen-table .table-content .table-entry div:nth-child(4) .table-button {
    margin-left: 5px;
}

/* Standaard add en edit styling */

.add-stelling-container,
.add-partij-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.add-stelling-container .add-stelling-content-container,
.add-partij-container .add-partij-content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.add-stelling-container .add-stelling-content-container div:nth-last-child(1),
.add-partij-container .add-partij-content-container div:nth-last-child(1) {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

/* Stelling en Partijen toevoegen en bewerken */

.add-stelling-container .add-stelling-content-container div:not(div:nth-last-child(1)),
.add-partij-container .add-partij-content-container div:not(div:nth-last-child(1)) {
    display: grid;
    grid-template-columns: 125px auto;
    margin: 10px 0;
}

.add-stelling-container .add-stelling-content-container div:not(div:nth-last-child(1)) label,
.add-partij-container .add-partij-content-container div:not(div:nth-last-child(1)) label {
    font-size: 18px;
    align-self: center;
}

.add-stelling-container .add-stelling-content-container div input,
.add-stelling-container .add-stelling-content-container div textarea,
.add-partij-container .add-partij-content-container div:not(div:nth-last-child(1)) input {
    border-radius: 5px;
    border: 1px solid var(--main-font-color);
    padding: 8px;
    font-size: 15px;
    font-weight: normal;
    resize: none;
    max-width: 75%;
}

.add-stelling-container .add-stelling-content-container div:not(div:nth-child(1)) input,
.add-partij-container .add-partij-content-container div:not(div:nth-child(1)) input {
    width: 150px;
}

.add-stelling-container .add-stelling-content-container div:not(div:nth-child(2)) input,
.add-partij-container .add-partij-content-container div:not(div:nth-child(2)) input {
    width: 300px;
}