.title {
    font-weight: bold;
    font-size: 45px;
    color: var(--main-font-color);
}

.add-button {
    background-color: var(--button-color);
    border: none;
    border-radius: var(--border-radius);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 25px;
    cursor: pointer;
}

.table-button {
    width: 75px;
    background-color: var(--button-color);
    border: none;
    border-radius: var(--border-radius);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 25px;
    cursor: pointer;
}

/* Stellingen table */

.custom-table {
    width: 100%;
}

.custom-table header {
    height: 60px;
    width: 100%;
    background: lightgray;
    color: var(--main-font-color);
    display: flex;
    justify-content: flex-start;
    border-radius: var(--border-radius);
    margin: 10px 0;
    align-items: center;
    padding: 0 20px;
}

.custom-table header h2 {
    font-size: 18px;
}
.custom-table .table-content {
    border-radius: var(--border-radius);
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.custom-table .table-content .table-entry {
    display: grid;
    grid-template-columns: 50px auto auto;
    border-radius: var(--border-radius);
    margin: 1px 5px;
    height: 60px;
    align-items: center;
    padding: 0 20px;
    transition: 50ms ease-in-out;
}

.custom-table .table-content .table-entry:nth-child(odd) {
    background-color: var(--main-background-color);
}

.custom-table .table-content .table-entry:nth-child(even) {
    background-color: white;
}

.custom-table .table-content .table-entry:hover {
    background-color: var(--main-table-entry-hover);
}

.custom-table .table-content .table-entry div {
    font-size: 18px;
    user-select: none;
}

.custom-table .table-content .table-entry div:nth-child(3) {
    justify-self: flex-end;
}

.custom-table .table-content .table-entry div:nth-child(3) .table-button:nth-child(1) {
    margin-right: 5px;
}
