.title {
    font-weight: bold;
    font-size: 45px;
    color: var(--main-font-color);
}

.add-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.add-button {
    background-color: var(--button-color);
    border: none;
    border-radius: var(--border-radius);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 28px;
    cursor: pointer;
    padding: 0 20px;
    margin: 0 5px 0 0;
}

.table-button {
    width: 75px;
    background-color: var(--button-color);
    border: none;
    border-radius: var(--border-radius);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 28px;
    cursor: pointer;
}

.add-button:hover,
.table-button:hover {
    background-color: var(--button-hover-color);
}

/* Stellingen table */

.stellingen-table {
    width: 100%;
}

.stellingen-table header {
    height: 60px;
    width: 100%;
    background: lightgray;
    color: var(--main-font-color);
    display: flex;
    justify-content: flex-start;
    border-radius: var(--border-radius);
    margin: 10px 0;
    align-items: center;
    padding: 0 20px;
}

.stellingen-table header {
    /*position: sticky;*/
    /*top: 0;*/
}

.stellingen-table header h2 {
    font-size: 18px;
}

.stellingen-table header h2:nth-child(1) {
    width: 60px;
    text-align: center;
}

.stellingen-table header h2:nth-child(2) {
    margin-left: 20px;
}

.stellingen-table .table-content {
    border-radius: var(--border-radius);
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.stellingen-table .table-content .table-entry {
    display: grid;
    grid-template-columns: 70px auto auto;
    border-radius: var(--border-radius);
    margin: 1px 5px;
    min-height: 60px;
    align-items: center;
    padding: 0 20px;
    transition: 50ms ease-in-out;
}

.stellingen-table .table-content .table-entry:nth-child(odd) {
    background-color: var(--main-background-color);
}

.stellingen-table .table-content .table-entry:nth-child(even) {
    background-color: white;
}

.stellingen-table .table-content .table-entry:hover {
    background-color: var(--main-table-entry-hover);
}

.stellingen-table .table-content .table-entry div {
    font-size: 18px;
    user-select: none;
}

.stellingen-table .table-content .table-entry div:nth-child(1) {
    padding-right: 20px;
    text-align: center;
}

.stellingen-table .table-content .table-entry div:nth-child(3) {
    justify-self: flex-end;
    white-space: nowrap;
}

.stellingen-table .table-content .table-entry div:nth-child(3) .table-button {
    margin-left: 5px;
}

/* Partijen table */