:root {
    --main-color: #bf0d0d;
    --main-hover-color: #d00e0e;
    --main-font: sans-serif, roboto;
}

* {
    box-sizing: border-box;
    font-family: var(--main-font);
}

html, body {
    margin: 0;
    padding: 0;
}