:root {
    --main-color: #bf0d0d;
    --main-hover-color: #d00e0e;
    --main-background-color: #EAF2FF;
    --button-color: #5091FC;
    --main-button-active-color: #EAF2FF;
    --main-button-hover-color: #f3f8ff;
    --main-font-color: #494949;
    --main-font: sans-serif, roboto;
    --border-radius: 10px;
    --border-radius-25: 25px;
}

* {
    box-sizing: border-box;
    font-family: var(--main-font);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-background-color);
}

hr {
    border: 1px solid rgba(0,0,0,0.1) !important;
}

.shadow {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.08) !important;
}

.layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 400px auto;
}

.layout .layout-section:not(.layout .layout-section:first-child) {
    margin: 30px 30px 30px 0;
    padding: 30px;
}

.layout .layout-section {
    margin: 30px;
    padding: 20px;
    background-color: white;
    border-radius: var(--border-radius);
}

/* Menu */

.nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.layout-section .logo {
    height: 85px;
    min-height: 85px;
}

.layout-section .logo img {
    max-width: 100%;
    width: 100%;
}

.a-container {
    height: 100%;
}

.stellingen:before {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 45px;
    content: url("/files/images/clouds.svg");
    color: var(--main-font-color);
    bottom: 5px;
}

.partijen:before {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 45px;
    content: url("/files/images/users.svg");
    color: var(--main-font-color);
    bottom: 5px;
}

.logout-container {
    width: 100%;
    justify-self: flex-end;
    position: relative;
}

.menu-button {
    width: 100%;
    height: 50px;
    background: none;
    border: none;
    font-size: 25px;
    color: var(--main-font-color);
    cursor: pointer;
    text-align: left;
    padding-left: 100px;
    border-radius: var(--border-radius-25);
    transition: 0.1s;
    margin-top: 4px;
    margin-bottom: 4px;
    position: relative;
}

.a-container .active {
    background-color: var(--main-button-active-color);
}

.menu-button:not(.active):hover {
    background-color: var(--main-button-hover-color);
}

.logout-button {
    width: 100%;
    height: 50px;
    background: none;
    border: none;
    font-size: 25px;
    color: var(--main-font-color);
    cursor: pointer;
    text-align: left;
    padding-left: 100px;
    border-radius: var(--border-radius-25);
    transition: 0.1s;
}

.logout-button:hover {
    background-color: var(--main-button-hover-color);
}

.logout-button:before {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 45px;
    content: url("/files/images/logout.svg");
    color: var(--main-font-color);
    transform: rotate(180deg);
    bottom: 5px;
}